.rack {
  $rack-width: 150px;

  width: $rack-width;
  flex-shrink: 0;

  > div {
      border: 4px solid brown;
      border-top: none;
      height: 50px;
      display: flex;
  }

  .rack__door {
    background-color: brown;
    margin-top: 10%;
    height: 90%;
    width: $rack-width;
    flex-shrink: 0;
  }
}