.rack {
  $rack-width: 150px;

  width: $rack-width;
  flex-shrink: 0;

  > .rack__shelf {
    border: 4px solid brown;
    border-top: none;
    display: flex;
    height: 50px;
  
    > .rack__door {
      background-color: brown;
      margin-top: 5px;
      height: 80%;
      width: $rack-width;
    }
  }

}